# .env
STAGE=dev

DB_PASSWORD=MySecr3tPassWord@as2
DB_NAME=TesloDB
DB_HOST=db          # <— important: service name, NOT localhost
DB_PORT=5432
DB_USERNAME=postgres

PORT=3000
HOST_API=http://localhost:3000/api  # from your host browser
JWT_SECRET=Est3EsMISE3Dsecreto32s

# Optional: separate persistent path for user uploads (used on Render)
# UPLOADS_PATH=/app/data/uploads
